<!DOCTYPE html>

<html lang="es">
    <head>
        <title> <%= title %> </title>
        <meta charset="UTF-8"/>
        <meta name="description" content="Sitio Web Autobuses Velocity"/>
        <meta name="keywords" content="Pagos"/>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

    <body>
        <div id = "agrupar">
            <header id="cabecera">
                <h1>Autobuses Velocity - Pagos</h1>
            </header>

            <nav id="menu">
                <li>
                    <a class="" href = "/">
                        Inicio
                    </a>
                </li>
            </nav>

            <section id="seccion">
                <article>
                    <figure>
                        <img src="/images/flota.jpg" alt="" width="500" height="300" align="center">
                        <figcaption>Nuestra flota</figcaption>
                    </figure>
                </article>
            </section>

            <aside id="columna">
                <h3>Acerca de &eacute;ste m&oacute;dulo</h3>
                <p class="acercade">
                    Este es el sitio web de Autobuses Velocity, pensado para que los clientes
                    realicen sus compras en linea y sin necesidad de salir de su hogar.
                </p>
            </aside>

            <footer id="pie">
                <small>
                    Autor: Jorge Antonio Rompiche Herrera<br>
                    <time datetime="2015-04-25" pubdate>publicado 25-04-2015</time>
                </small>

            </footer>
        </div>
    </body>
</html>

